table {
    border: 3px solid #24943A;
    background-color: #D4EED1;
    text-align: center;
    font-size: 9px;
  }

  table thead {
    background: #24943A;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    text-align: left;
  }
  table thead th {
    font-size: 19px;
    color: #F0F0F0;
    text-align: center;
    border-left: 2px solid #24943A;
  }
  table thead th:first-child {
    border-left: none;
  }
  
  table tfoot td {
    font-size: 13px;
  }
  table tfoot .links {
    text-align: right;
  }
  table tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #24943A;
    padding: 2px 8px;
    border-radius: 5px;
  }

.chart { height: 159px; width: 332px; margin: 5px; margin: 5px auto; border: 3px solid #DDD; border-radius: 3px; }
/*.node { color: #091e4a; border: 2px solid #b0d1af; border-radius: 3px; margin: 15px}
.node p { font-size: 20px; line-height: 20px; height: 20px; font-weight: bold; padding: 3px; margin: 15px; }*/


/*section
{
    background-color: lightyellow;
    border-radius: 25px;
    margin: 30px 30px 0px 0px;
	position: sticky;
    bottom: 0%;
    left: 0px;
    display:flex;
    flex-direction: column;
    width: 80%;
    padding: 1%;
    backdrop-filter: blur(10px);
}*/


select
{
    height: 100%;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background: rgba(238, 238, 238, 0.3);
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    backdrop-filter: blur(10px);
}

input[type=button], input[type=text]
{
    background-color: rgba(50, 20, 70, 0.8);
    
    border: none;
    outline: grey solid 1px;
    cursor: pointer;
    padding: 8px 9px;
    margin: 10px 10px 10px 10px;
    transition: 0.3s;
}


input[type=text]
{
    background-color: rgba(200, 200, 200, 0.6);
}

input[type=button]:hover 
{
    background-color: #ddd;
}

#texte
{
    height: 100%;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background: rgba(238, 238, 238, 0.3);
    border-radius: 5px;
    box-shadow: 4px 4px #bd6363;
    backdrop-filter: blur(10px);
}

.middle
{
    background-color: rgba(249, 220, 220, 0.865);
    width:100%;
    display:flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}


.tablinks
{
    opacity: 0.4;
    background-color: red;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 6px;
    transition: 0.3s;
}

.tablinks:hover 
{
    background-color: #ddd;
}


/*button.tablinks:hover, button.tablinks:focus
{
    background-color: #ddd;
    color: #333;
}
  
button.tablinks.active 
{
    background-color: #ccc;
}*/

#tabs
{
    background-color: lightyellow;
    display:flex;
    flex-direction: column;
}

.sidebar
{
    height: 100%;
    width: 10%;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
}

.sidebar .tablinks
{
    width: 25%;
}

.tablinks
{
    color: #fff;
    background-color: #333;
    transition: all 1s ease-out;
}


body
{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}


.viewarea
{
    overflow: auto;
    width: 100%;
    height: 98vh;
    margin-left: 4%;
}

.topbar
{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rosybrown;
    display:flex;
    flex-direction: row;
}

.scrollable
{
    margin-left: 25%;
    overflow: hidden;
}

#map {
    position: fixed !important;
    top: 8px;
    right: 30px;
    width: 200px;
    height: 100%;
    z-index: 100 !important;
}

.tabcontent
{
    width: fit-content;
    height: 100%;
    block-size: fit-content;
}